*{
  box-sizing: border-box;
}

body {
  margin: 0;
  margin-inline: 30px;
  background-color: rgb(199, 225, 238);
}

a {
  color: var(--primary-base);
  text-decoration: none;
}

.btn{
  border-radius: 25px;
  background-color: aliceblue;
  cursor: pointer;
}
img{
  cursor: pointer;
  border: 1px solid black;
}

input{
  cursor: pointer;
}