/* flex helpers */
.flex {
    display: flex;
  }

  .flex.space-between {
    justify-content: space-between;
  }

  .flex.space-around {
    justify-content: space-around;
  }

  .flex.align-center {
    align-items: center;
  }

/* grid helpers */

  .grid{
    display: grid;
  }


  .border-inline{
    border-inline: 1px solid var(--primary-2-5);
  }
  
  /* list helpers */
  
  .clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }