/* flex helpers */
.flex {
    display: flex;
  }

  .flex.space-between {
    justify-content: space-between;
  }

  .flex.space-around {
    justify-content: space-around;
  }

  .flex.align-center {
    align-items: center;
  }

  .flex.justify-center {
    justify-items: center;
  }

/* grid helpers */

  .grid{
    display: grid;
  }
