.main-header {
  display: grid;
  background-color: var(--primary-2);
  grid-template-columns: 200px 1fr;
  border-radius: 100px;
  font-size: 20px;
  margin-block: 10px;
  align-items: center;

  
}

.logo {
  grid-column: 1;
  font-size: 3em;
  justify-self: center;
}

.main-nav {
  margin-right: 20px;
  gap: 10px;
}

.nav-btn {
  font-size: 1em;
  justify-items: center;
  background-color: var(--primary-2);
  border: none;
}

.main-nav .btn:hover {
  color: #34ce20;
}

