.meme-editor-container{
    display: none;
    margin-top: 20px;
    justify-content: center;
}

canvas {
    display: block;
}

.canvas-container{
    width: fit-content; 
}

.editor-container{
    padding: 10px;
    flex-flow: column;
    gap: 10px;
    align-items: center;
}
.btn-download{
    padding: 5px;
}