:root{
    /* colors  */
    --primary-base: #4F4E4E;
    --primary-1: #606060;
    --primary-2: #37577c;
    --primary-2-5: #cfcfcf;
    --primary-3: #efefef;
    --primary2-base: #58c93a;
    
   }